services/portlet-container/impl/xsd/web.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	jxb:version="1.0">

	<xsd:element name='web-app'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='icon' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='display-name' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='distributable' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='context-param' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='filter' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='filter-mapping' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='listener' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='servlet' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='servlet-mapping' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='session-config' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='mime-mapping' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='welcome-file-list' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='error-page' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='taglib' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='resource-env-ref' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='resource-ref' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='security-constraint' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='login-config' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='security-role' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='env-entry' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='ejb-ref' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='ejb-local-ref' minOccurs='0' maxOccurs='unbounded'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='auth-constraint'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='role-name' minOccurs='0' maxOccurs='unbounded'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='auth-method'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='context-param'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='param-name'/>
				<xsd:element ref='param-value'/>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='description'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='display-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='distributable'>
		<xsd:complexType>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='ejb-link'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='ejb-local-ref'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='ejb-ref-name'/>
				<xsd:element name='ejb-ref-type'>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base='xsd:string'>
								<xsd:attribute name='id' type='xsd:ID' use='optional'/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref='local-home'/>
				<xsd:element ref='local'/>
				<xsd:element ref='ejb-link' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='ejb-ref'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='ejb-ref-name'/>
				<xsd:element name='ejb-ref-type'>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base='xsd:string'>
								<xsd:attribute name='id' type='xsd:ID' use='optional'/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref='home'/>
				<xsd:element ref='remote'/>
				<xsd:element ref='ejb-link' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='ejb-ref-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='env-entry'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='env-entry-name'/>
				<xsd:element ref='env-entry-value' minOccurs='0' maxOccurs='1'/>
				<xsd:element name='env-entry-type'>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base='xsd:string'>
								<xsd:attribute name='id' type='xsd:ID' use='optional'/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='env-entry-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='env-entry-value'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='error-code'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='error-page'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref='error-code'/>
					<xsd:element ref='exception-type'/>
				</xsd:choice>
				<xsd:element ref='location'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='exception-type'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='extension'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='filter'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='icon' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='filter-name'/>
				<xsd:element ref='display-name' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='filter-class'/>
				<xsd:element ref='init-param' minOccurs='0' maxOccurs='unbounded'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='filter-class'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='filter-mapping'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='filter-name'/>
				<xsd:choice>
					<xsd:element ref='url-pattern'/>
					<xsd:element ref='servlet-name'/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='filter-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='form-error-page'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='form-login-config'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='form-login-page'/>
				<xsd:element ref='form-error-page'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='form-login-page'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='home'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='http-method'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='icon'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='small-icon' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='large-icon' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='init-param'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='param-name'/>
				<xsd:element ref='param-value'/>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='jsp-file'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='large-icon'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='listener'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='listener-class'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='listener-class'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='load-on-startup'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='local'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='local-home'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='location'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='login-config'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='auth-method' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='realm-name' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='form-login-config' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='mime-mapping'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='extension'/>
				<xsd:element ref='mime-type'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='mime-type'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='param-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='param-value'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='realm-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='remote'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='res-auth'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='res-ref-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='res-sharing-scope'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='res-type'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='resource-env-ref'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='resource-env-ref-name'/>
				<xsd:element name='resource-env-ref-type'>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base='xsd:string'>
								<xsd:attribute name='id' type='xsd:ID' use='optional'/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='resource-env-ref-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='resource-ref'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='res-ref-name'/>
				<xsd:element ref='res-type'/>
				<xsd:element ref='res-auth'/>
				<xsd:element ref='res-sharing-scope' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='role-link'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='role-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='run-as'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='role-name'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='security-constraint'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='display-name' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='web-resource-collection' maxOccurs='unbounded'/>
				<xsd:element ref='auth-constraint' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='user-data-constraint' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='security-role'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='role-name'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='security-role-ref'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='role-name'/>
				<xsd:element ref='role-link' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='servlet'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='icon' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='servlet-name'/>
				<xsd:element ref='display-name' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:choice>
					<xsd:element ref='servlet-class'/>
					<xsd:element ref='jsp-file'/>
				</xsd:choice>
				<xsd:element ref='init-param' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='load-on-startup' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='run-as' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='security-role-ref' minOccurs='0' maxOccurs='unbounded'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='servlet-class'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='servlet-mapping'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='servlet-name'/>
				<xsd:element ref='url-pattern'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='servlet-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='session-config'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='session-timeout' minOccurs='0' maxOccurs='1'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='session-timeout'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='small-icon'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='taglib'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='taglib-uri'/>
				<xsd:element ref='taglib-location'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='taglib-location'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='taglib-uri'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='transport-guarantee'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='url-pattern'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='user-data-constraint'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='transport-guarantee'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='web-resource-collection'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='web-resource-name'/>
				<xsd:element ref='description' minOccurs='0' maxOccurs='1'/>
				<xsd:element ref='url-pattern' minOccurs='0' maxOccurs='unbounded'/>
				<xsd:element ref='http-method' minOccurs='0' maxOccurs='unbounded'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='web-resource-name'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='welcome-file'>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base='xsd:string'>
					<xsd:attribute name='id' type='xsd:ID' use='optional'/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='welcome-file-list'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='welcome-file' maxOccurs='unbounded'/>
			</xsd:sequence>
			<xsd:attribute name='id' type='xsd:ID' use='optional'/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
